<div class="container user">
  <header class="row user-row">
    <div class="col-sm-4">
      <%= image_tag(@profile.picture.url(:medium), alt: 'Profile Pic') %>
    </div>

    <div class="col-sm-8">
      <h2><%= @profile.name %></h2>

      <h5><% if @profile.focuses.present? %>
        <%= @profile.focuses.pluck(:name).join(', ') %>
      <% elsif current_user == @profile %>
        <%= link_to edit_user_registration_path do %>
          <span class="glyphicon glyphicon-plus-sign green" title="Add Website"></span> Add your skills
        <% end %>
      <% end %></h5>

      <h4><% if @profile.bio.present? %>
        <%= @profile.bio  %>
      <% elsif current_user == @profile %>
        <%= link_to edit_user_registration_path do %>
          <span class="glyphicon glyphicon-plus-sign green" title="Add Bio"></span> Add your Bio
        <% end %>
      <% end %></h4>

      <ul class="user-meta">
        <li data-role="geo-contact">
          <% if @profile.city.present? %>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <%= @profile.city %>
          <% elsif current_user == @profile %>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-plus-sign green" title="Add City"></span> add your city
            <% end %>
          <% end %>
        </li>

        <li>
          <% if @profile.website.present? %>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <%= link_to @profile.website, "http://#{@profile.website}" %>
          <% elsif current_user == @profile %>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-plus-sign green" title="Add Website"></span> add your website
            <% end %>
          <% end %>
        </li>
        <% if signed_in_admin? || current_user == @profile %>
          <li>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <%= mail_to @profile.email, @profile.email %>
          </li>
        <% end %>
      </ul>
    </div>
  </header>

  <%= render 'admin_user_options'%>

  <div class="row user-row user-total-follower-row">
    <dl class="user-total-follower-count col-sm-4">
      <dt>TOTAL FOLLOWERS:</dt>
      <dd><%= number_with_delimiter(@profile.total_follower_count) %></dd>
    </dl>

    <% User::SOCIAL_PLATFORMS.each do |social| %>
      <%= render 'follower_counts', profile: @profile, social: social %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-4 user-subsection">
      <h2>Interests</h2>
      <% if @profile.interests.present? %>
        <% @profile.interests.each do |interest| %>
          <button type="button" class="btn btn-default btn-interests"><%= interest.name %></button>
        <% end %>
      <% elsif current_user == @profile %>
        <%= link_to profile_interests_path do %>
          <h4 class="text-center">Add Interests</h4>
          <h4 class="text-center"><span class="glyphicon glyphicon-plus-sign green" title="Add Interests"></span></h4>
        <% end %>
      <% end %>
      <p><%= @profile.special_interests %></p>
    </div>

    <div class="col-sm-4 user-subsection">
      <h2>Press</h2>
      <% if @profile.press.present? %>
        <% @profile.press.each do |press| %>
          <h5><%= link_to press.name, press.url %></h5>
        <% end %>
      <% elsif current_user == @profile %>
        <%= link_to profile_press_path do %>
          <h4 class="text-center">Add Press</h4>
          <h4 class="text-center"><span class="glyphicon glyphicon-plus-sign green" title="Add Press"></span></h4>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-4 user-subsection">
      <h2>Clients</h2>
      <% if @profile.clients.present? %>
        <% @profile.clients.each do |client| %>
          <h5><%= link_to client.name, client.url %></h5>
        <% end %>
      <% elsif current_user == @profile %>
        <%= link_to profile_clients_path do %>
          <h4 class="text-center">Add Clients</h4>
          <h4 class="text-center"><span class="glyphicon glyphicon-plus-sign green" title="Add Clients"></span></h4>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

