<div class="container">
  <div>  
      <div class="col-md-4">
        <%= image_tag @user.picture.url, :size => '300', :alt => "Vine Logo" %>
      </div>
      <div class="col-md-4">
        <h1><%= @user.name %></h1>
        <h4>TOTAL FOLLOWERS: <%= current_user.facebook_follower_count + current_user.instagram_follower_count %></h4>
        <h2><%= @user.bio %></h2>
      </div>
  </div>  

  <div class="clear"></div>

  <div>  
      <div class="col-md-1">  
        <%= image_tag("vine_logo.svg", :size => '60', :alt => "Vine Logo") %>
        <p>11,000,111</p>
      </div>
      <div class="col-md-1">    
        <%= image_tag("twitter_logo.svg", :size => '60', :alt => "Twitter Logo") %>
        <p>11,000,111</p>
      </div>
      <div class="col-md-1">    
        <%= image_tag("instagram_logo.svg", :size => '60', :alt => "Instagram Logo") %>
        <p><%= current_user.instagram_follower_count %></p>      
      </div>
      <div class="col-md-1">    
        <%= image_tag("facebook_logo.svg", :size => '60', :alt => "Facebook Logo") %>
        <p><%= current_user.facebook_follower_count %></p>
      </div>
      <div class="col-md-1">    
        <%= image_tag("pinterest_logo.svg", :size => '60', :alt => "Pinterest Logo") %>
        <p>11,000,111</p>
      </div>
      <div class="col-md-1">    
        <%= image_tag("snapchat_logo.svg", :size => '60', :alt => "Snapchat Logo") %>
        <p>11,000,111</p>
      </div>
      <div class="col-md-1">    
        <%= image_tag("tumblr_logo.svg", :size => '60', :alt => "Tumblr Logo") %>
        <p>11,000,111</p>
      </div>  
  </div>  

  <div class="clear"></div>

  <div>
    <h2>Interests</h2>
     <div class="col-md-2">
      <button type="button" class="btn btn-default">News</button>
     </div>
     
     <div class="col-md-2">
      <button type="button" class="btn btn-default">Technology</button>
     </div> 
     
     <div class="col-md-2">
      <button type="button" class="btn btn-default">Food</button>
     </div> 
     
     <div class="col-md-2"> 
      <button type="button" class="btn btn-default">Curation</button>
     </div> 
    
  </div>  


<div class="clear"></div>

  <div>
     <div class="col-md-3"> 
        <h2>Press</h2>
        <h5><% @user.presses.each do |press| %></h5>
            <%= press.publication_name %>
          <% end %> 
     </div>    
     <div class="col-md-3"> 
        <h2>Client</h2>
        <h5><% @user.clients.each do |client| %></h5>
            <%= clients.client_name %>
          <% end %> 
     </div>    
  </div>  

<div class="clear"></div>


   <div>
    <% current_user.instagram_media.each do |picture| %>
      <%= image_tag picture['images']['standard_resolution']['url'] %>
    <% end %>
  </div>  

</div>