<%= render 'layouts/user_navigation' %>
<div class="container">
  <%= simple_form_for current_user, url: profile_press_path, html: { novalidate: true } do |f| %>
    <div id="press">
      <%= f.simple_fields_for :press do |press| %>
        <%= render 'press_fields', f: press %>
      <% end %>
      <%= link_to_add_association 'add press', f, :press %>
    </div>
    <%= f.submit %>
  <% end %>
</div>