<div class="container">
  <h1 class="list-name"><%= @influencer_list.name %></h1>

  <%= link_to "Rename List", edit_influencer_list_path(@influencer_list) %>
  <%= button_to "Delete List", @influencer_list, method: :delete %>

  <br>

  <% @influencer_list.users.each_slice(3) do |user_group| %>
    <div class="row">
      <% user_group.each do |user| %>
        <div class="col-lg-4 col-md-4 col-sm-4 user-<%= user.id %>">
          <%= render 'shared/profile_card', user: user %>
          <%= link_to 'Remove', list_membership_path(user.membership_in(@influencer_list)), method: :delete, class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>