<h1 class="list-name"><%= @influencer_list.name %></h1>

<%= link_to "Rename List", edit_influencer_list_path(@influencer_list) %>
<%= button_to "Delete List", @influencer_list, method: :delete %>

<% @influencer_list.users.each do |user| %>
  <div class="user-<%= user.id %>">
    <p><%= link_to user.name, profile_path(user) %></p>
    <%= button_to "Remove", profile_list_membership_path(user, user.membership_to(@influencer_list)), method: :delete, params: { influencer_list: @influencer_list.id } %>
  </div>
<% end %>
