<div class="container">
  <h1 class="list-name"><%= @influencer_list.name %></h1>

  <% if current_user.owns_list?(@influencer_list) %>
    <%= link_to "Rename List", edit_influencer_list_path(@influencer_list) %>
    <%= button_to "Delete List", @influencer_list, method: :delete %>
    <%= simple_form_for(:list_copy, url: list_copy_path) do |f| %>
      <%= f.hidden_field :id, value: @influencer_list.id %>
      <%= f.submit "Copy List" %>
    <% end %>
  <% end %>

  <br>

  <% @influencer_list.users.each_slice(3) do |user_group| %>
    <div class="row">
      <% user_group.each do |user| %>
        <div class="col-lg-4 col-md-4 col-sm-4 user-<%= user.id %>">
          <%= render "shared/profile_card", user: user %>
          <% if current_user.owns_list?(@influencer_list) %>
            <%= link_to "Remove", list_membership_path(user.list_membership_in(@influencer_list)), method: :delete, class: "btn btn-default" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
