<h1 class="list-name"><%= @influencer_list.name %></h1>

<%= link_to "Rename List", edit_influencer_list_path(@influencer_list) %>
<%= button_to "Delete List", @influencer_list, method: :delete %>

<% @influencer_list.users.each do |user| %>
  <div class="user-<%= user.id %>">
    <p><%= link_to user.name, profile_path(user) %></p>
    <%= form_for(:list_membership, url: list_membership_path(user.membership_in(@influencer_list)), method: :delete) do |f| %>
      <%= f.submit "Remove" %>
    <% end %>
  </div>
<% end %>
