<%= render "layouts/sidebar" %>
<div class="container">
  <%= render "layouts/list_nav_bar" %>
  <div class="list-users">
    <div class="profile-card">
      <% @influencer_list.users.each_slice(3) do |user_group| %>
        <div class="row">
          <% user_group.each do |user| %>
            <div class="col-lg-4 col-md-4 col-sm-4 user-<%= user.id %>">
              <%= render "shared/profile_card", user: user %>
              <% if current_user.owns_list?(@influencer_list) %>
                <%= link_to "Remove", list_membership_path(user.list_membership_in(@influencer_list)), method: :delete, class: "btn btn-default" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
