<div class="nested-fields">
  <div class="field">
    <%= f.label :publication %>
    <br/>
    <%= f.text_field :publication%>
  </div>
  <div class="field">
    <%= f.check_box :done %>
    <%= f.label :done %>
  </div>
  <%= link_to_remove_association "remove task", f %>
</div>
