<div class="field">
  <%= f.label :picture %><br />
  <%= f.file_field :picture, class: 'form-control', autofocus: true %>
</div>

<div class="form-group">
   <%= f.label :name %>
   <%= f.text_field :name, class: 'form-control', autofocus: true %>
 </div>

<div class="form-group">
<%= f.label :bio %>
 <%= f.text_area :bio, class: 'form-control', autofocus: true %>
</div>

<div class="form-group">
 <%= f.label :city %>
 <%= f.text_field :city, class: 'form-control', autofocus: true %>
</div>

<div class="form-group">
  <%= f.label :email %><br />
  <%= f.email_field :email, class: 'form-control', autofocus: true %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="form-group">
  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off' %>
</div>
