<div class="basic-info">
  <div class="field">
    <%= f.input :picture, as: :file, input_html: { class: 'form-control' }, autofocus: true %>
  </div>

  <div class="form-group">
     <%= f.input :name, input_html: { class: 'form-control' }, autofocus: true %>
  </div>

  <div class="form-group">
   <%= f.input :website, as: :string, input_html: { class: 'form-control' }, autofocus: true %>
  </div>

  <div class="form-group">
   <%= f.input :bio, as: :text, input_html: { class: 'form-control' }, autofocus: true %>
  </div>

  <div class="form-group">
   <%= f.input :city, input_html: { class: 'form-control' }, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.input :focus_tokens, as: :text, label: 'Focuses', id: 'focus_tokens', input_html: { data: { pre: current_user.focuses.map(&:attributes) }, class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :email, input_html: { class: 'form-control' }, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.input :password, label: "Password (leave blank if you don't want to change it)", input_html: { class: 'form-control' }, autocomplete: 'off' %>
  </div>

  <div class="form-group">
    <%= f.input :password_confirmation, input_html: { class: 'form-control' }, autocomplete: 'off' %>
  </div>
</div>
