= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, defaults: { input_html: { class: "form-control" } }) do |f|
  = devise_error_messages!
  .row.basic-info__section
    .col-md-5
      .basic-info__photo
        = f.input :picture, :as => :file, label: (render "label_for_image_upload", f: f), input_html: { role: "auto-submit-file" }
    .col-md-7
      .form-group
        = f.input :focus_tokens, as: :text, id: "focus_tokens", input_html: { data: { pre: current_user.focuses.map(&:attributes) }, class: "flat-form-control" }, label: false
        .form-help-text
          Choose some focuses that best describe your strongests skills. Are
          you a director, model, animator, viner, makeup artist?
      .form-group
        = f.text_area :bio, as: :text, autofocus: true, class: "flat-form-control basic-info__bio", placeholder: 'Short Bio'
        .form-help-text
          max 300 characters
  .row.basic-info__section
    .col-md-6
      .form-group
        = f.input :name, autofocus: true, input_html: { class: "flat-form-control" }, placeholder: 'Name'
        = f.input :city, autofocus: true, input_html: { class: "flat-form-control" }, placeholder: 'City'
        = f.input :website, as: :string, autofocus: true, input_html: { class: "flat-form-control" }, placeholder: 'Website'
    .col-md-6
      .form-group
        .basic-info__birthday
          %label Birthday
          = f.input :birthday, start_year: Date.current.year - 120, end_year: Date.current.year, input_html: {class: 'flat-form-control flat-form-date' }, label: false
          .clearfix
        = f.input :ethnicity, collection: User.ethnicities.keys, input_html: {class: "flat-form-control" }
        = f.input :gender, collection: User.genders.keys, input_html: { class: "flat-form-control" }
  %hr
  .row.basic-info__section
    .col-md-6
      .form-group
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :email, autofocus: true, input_html: { class: 'flat-form-control' }
        = f.input :password, label: "Password (leave blank if you don't want to change it)", autocomplete: "off", input_html: { class: 'flat-form-control' }
        = f.input :password_confirmation, autocomplete: "off", input_html: { class: 'flat-form-control' }
  .actions
    = f.submit 'Save & Continue', class: 'btn btn-default sign-up-button'
