<div class="container">
  <div class="row">
    <header class="text-center">
      <h2>Create a New Account</h2>
      <h4>Join the Visual Country community to start getting connected to top brands! Let’s get started on setting up your account. Already have one? <a href="#">Sign in here</a>.</h4>
    </header>
  </div>

  <form class="sign-up-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="row">
        <%= devise_error_messages! %>
        <div class="col-md-6 social-auth-buttons">
          <%= link_to user_omniauth_authorize_path(:facebook), class: "social-auth-button social-auth-button-facebook clearfix" do %>
            <%= embedded_svg "facebook_logo.svg" %>
            <%= 'Sign in with Facebook' %>
          <% end %>

          <%= link_to user_omniauth_authorize_path(:twitter), class: "social-auth-button social-auth-button-twitter clearfix" do %>
            <%= embedded_svg "twitter_logo.svg" %>
            <%= 'Sign in with Twitter' %>
          <% end %>
        </div>
        <div class="col-md-6 sign-up-form-fields">
          <div class="field">
            <%= f.text_field :name, autofocus: true, class: "flat-form-control", placeholder: 'Name*' %>
          </div>

          <div class="field">
            <%= f.text_field :username, class: "flat-form-control", placeholder: 'User Name*' %></p>
          </div>

          <div class="field">
            <%= f.email_field :email, autofocus: true, class: "flat-form-control", placeholder: 'Email*' %>
          </div>

          <div class="field">
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "flat-form-control", placeholder: 'Password*' %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "flat-form-control", placeholder: 'Password Confirmation*' %>
          </div>
          <p>Brand or Agency? <a href="#">Connect with us here</a> to discover how Visual Country can help for your next campaign.</p>
        </div>
      </div>

        <div class="actions text-center">
          <%= f.submit "Sign up", class: "btn btn-default" %>
          <h4 class="text-center">By signing in you agree to our <a href="#">terms and conditions</a>.</h4>
          <br>
          <%= render "devise/shared/links" %>
        </div>

    <% end %>
  </form>
</div>