
<h1><%= @contact_message.name %></h1>
<p>Email Address: <%= @contact_message.email_address %></p>
<p>Phone Number: <%= @contact_message.phone_number %></p>
<p>Instagram Account: <%= @contact_message.instagram_account %></p>
<p>Vine Account: <%= @contact_message.vine_account %></p>
<p>Body: <%= @contact_message.body %></p>
<p>Date: <%= @contact_message.created_at %></p>
