<div class="container">
  <h2><%= @contact_message.name %></h1>
  <h5>Date: <%= @contact_message.created_at %></p>
  <h5>Email Address: <%= @contact_message.email_address %></h5>
  <h5>Phone Number: <%= @contact_message.phone_number %></h5>
  <h5>Instagram Account: <%= @contact_message.instagram_account %></h5>
  <h5>Vine Account: <%= @contact_message.vine_account %></h5>
  <h5>Body: <%= @contact_message.body %></h5>

</div>