<div class="container user">
  <header class="row user-row">
    <div class="col-sm-4">
      <%= image_tag(@user.picture.url(:medium), alt: 'Profile Pic') %>
    </div>

    <div class="col-sm-8">
      <h2><%= @user.name %></h2>
      <h5><% if @user.website.present? %>
        <%= @user.focuses.pluck(:name).join(', ') %>
      <% elsif current_user == @user %>
        <%= link_to edit_user_registration_path do %>
          <span class="glyphicon glyphicon-plus-sign green" title="Add Focuses"></span> Add your skills
        <% end %>
      <% end %></h5>
      <h4<% if @user.website.present? %>
         class="user-bio"><%= @user.bio %>
      <% elsif current_user == @user %>
        <%= link_to edit_user_registration_path do %>
          <span class="glyphicon glyphicon-plus-sign green" title="Create a Bio"></span> Add a bio
        <% end %>
      <% end %></h4>

      <ul class="user-meta">
        <li data-role="geo-contact">
          <% if @user.city.present? %>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <%= @user.city %>
          <% elsif current_user == @user %>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-plus-sign green" title="Add City"></span> add your city
            <% end %>
          <% end %>
        </li>

        <li>
          <% if @user.website.present? %>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <%= link_to @user.website, "http://#{@user.website}" %>
          <% elsif current_user == @user %>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-plus-sign green" title="Add Website"></span> add your website
            <% end %>
          <% end %>
        </li>
        <% if signed_in_admin? || current_user == @user %>
          <li>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <%= mail_to @user.email, @user.email %>
          </li>
        <% end %>
      </ul>
    </div>
  </header>

  <%= render 'admin_user_options'%>

  <div class="row user-row user-total-follower-row">
    <dl class="user-total-follower-count col-sm-4">
      <dt>TOTAL FOLLOWERS:</dt>
      <dd><%= number_with_delimiter(@user.total_follower_count) %></dd>
    </dl>

    <% User::SOCIAL_PLATFORMS.each do |social| %>
      <%= render 'follower_counts', social: social %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-4 user-subsection">
      <h2>Interests</h2>
      <% if @user.interests.present? %>
        <% @user.interests.each do |interest| %>
          <button type="button" class="btn btn-default btn-interests"><%= interest.name %></button>
        <% end %>
      <% end %>
        <p><%= @user.special_interests %></p>
      <% if current_user == @user %>
        <%= link_to profile_interests_path do %>
          <h4 class="text-center">Add Interests</h4>
          <h4 class="text-center"><span class="glyphicon glyphicon-plus-sign green" title="Add Interests"></span></h4>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-4 user-subsection">
      <h2>Press</h2>
      <% if @user.press.present? %>
        <% @user.press.each do |press| %>
          <h5><%= link_to press.name, press.url %></h5>
        <% end %>
      <% elsif current_user == @user %>
        <%= link_to profile_press_path do %>
          <h4 class="text-center">Add Press</h4>
          <h4 class="text-center"><span class="glyphicon glyphicon-plus-sign green" title="Add Press"></span></h4>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-4 user-subsection">
      <h2>Clients</h2>
      <% if @user.clients.present? %>
        <% @user.clients.each do |client| %>
          <h5><%= link_to client.name, client.url %></h5>
        <% end %>
      <% elsif current_user == @user %>
        <%= link_to profile_clients_path do %>
          <h4 class="text-center">Add Clients</h4>
          <h4 class="text-center"><span class="glyphicon glyphicon-plus-sign green" title="Add Clients"></span></h4>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @user.instagram_media %>
    <h6>Recent Instagram Posts</h6>
    <div class="row user-social-instagram">
      <% @user.instagram_media.first(9).each do |instagram_picture| %>
        <div class="col-sm-6 col-md-4">
          <%= link_to(image_tag(instagram_picture['images']['standard_resolution']['url'], class: 'platform-media'),instagram_picture['link']) %>
          <ul class="user-post-icons">
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-thumbs-up pink" aria-hidden="true"></span>
              <%= truncated_count(instagram_picture['likes']['count'].round) %>
            </li>
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-comment pink" aria-hidden="true"></span>
              <%= truncated_count(instagram_picture['comments']['count'].round) %>
          </ul>
        </div>
      <% end %>
    </div>
  <% elsif current_user == @user %>
    <h6>Recent Instagram Posts</h6>
    <%= link_to profile_social_path do %>
      <h4 class="text-center">Connect your Instagram profile to showcase your latests posts.</h4>
      <h4 class="text-center"><span class="glyphicon glyphicon-plus-sign green" title="Connect Vine"></span></h4>
    <% end %>
  <% end %>

  <% if @user.vine_media %>
    <h6>Recent Vine Videos</h6>
    <div class="row">
      <% @user.vine_media.first(9).each do |vine| %>
        <div class="col-sm-6 col-md-4">
          <%= videojs_tag(vine.videoUrl, class: 'platform-video', thumbnail: vine.thumbnailUrl) %>
          <ul class="user-post-icons">
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-thumbs-up pink" aria-hidden="true"></span>
              <%= vine.likes['count'] %>
            </li>
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-refresh pink" aria-hidden="true"></span>
              <%= vine.reposts['count'] %>
            </li>
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-play-circle pink" aria-hidden="true"></span>
              <%= truncated_count(vine.loops['count'].round) %>
            </li>
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-comment pink" aria-hidden="true"></span>
              <%= truncated_count(vine.comments['count'].round) %>
            </li>
          </ul>
        </div>
      <% end %>
    <% elsif current_user == @user %>
    <h6>Recent Vine Videos</h6>
      <%= link_to profile_social_path do %>
        <h4 class="text-center">Connect your Vine profile to showcase your latests posts.</h4>
        <h4 class="text-center"><span class="glyphicon glyphicon-plus-sign green" title="Connect Vine"></span></h4>
      <% end %>
    <% end %>
  </div>
</div>
