<div class="container">
  <div>
      <div class="col-md-4">
        <%= image_tag @user.picture.url, :size => '300', :alt => "Vine Logo" %>
      </div>
      <div class="col-md-4">
        <h1><%= @user.name %></h1>
        <h4>TOTAL FOLLOWERS: <%= @user.total_social_count %></h4>
        <h2><%= @user.bio %></h2>
      </div>
  </div>

  <div class="clear"></div>

  <div>
      <% if @user.vine_follower_count %>
        <div class="col-md-1">
          <%= image_tag("vine_logo.svg", :size => '60', :alt => "Vine Logo") %>
          <p><%= @user.vine_follower_count %></p>
        </div>
      <% end %>

     <% if @user.twitter_follower_count %>
        <div class="col-md-1">
          <%= image_tag("twitter_logo.svg", :size => '60', :alt => "Twitter Logo") %>
          <p><%= @user.twitter_follower_count %></p>
        </div>
      <% end %>

      <% if @user.instagram_follower_count  %>`
        <div class="col-md-1">
          <%= image_tag("instagram_logo.svg", :size => '60', :alt => "Instagram Logo") %>
          <p><%= @user.instagram_follower_count %></p>
        </div>
      <% end %>

      <% if @user.facebook_follower_count %>
        <div class="col-md-1">
          <%= image_tag("facebook_logo.svg", :size => '60', :alt => "Facebook Logo") %>
          <p><%= @user.facebook_follower_count %></p>
        </div>
      <% end %>

       <% if @user.pinterest_follower_count %>
        <div class="col-md-1">
          <%= image_tag("pinterest_logo.svg", :size => '60', :alt => "Pinterest Logo") %>
          <p><%= @user.pinterest_follower_count %></p>
        </div>
      <% end %>

  </div>

  <div class="clear"></div>







  <div>
    <h2>Interests</h2>
    <div>
      <% @user.interests.each do |interest| %>
        <button type="button" class="btn btn-default"><%= interest.name %></button>
      <% end %>
    </div>
  </div>


<div class="clear"></div>

  <div>
     <div class="col-md-3">
        <h2>Press</h2>
        <h5><% @user.press.each do |press| %></h5>
            <%= press.name %>
          <% end %>
     </div>
     <div class="col-md-3">
        <h2>Client</h2>
        <h5><% @user.clients.each do |client| %></h5>
            <%= link_to client.name, client.url %>
          <% end %>
     </div>
  </div>

<div class="clear"></div>
  <% if @user.instagram_media %>
     <div>
      <% @user.instagram_media.each do |picture| %>
        <%= link_to image_tag(picture['images']['standard_resolution']['url'], size: "300x300"), picture['link'] %>
        Likes <%= picture['likes']['count'] %>
      <% end %>
    </div>
  <% end %>
  <% if @user.vine_media %>
    <div>
      <% @user.vine_media.each do |vine| %>
        <%= link_to video_tag(vine['videoUrl'], size: "300x300", :controls => true, :autobuffer => true), vine['permalinkUrl'] %>
        Likes <%= vine['likes']['count'] %>
      <% end %>
    </div>
  <% end %>

</div>