<div class="container user">
  <header class="row user-row">
    <div class="col-sm-4">
      <%= image_tag(@user.picture.url(:medium), alt: 'Profile Pic') %>
    </div>

    <div class="col-sm-8">
      <h2><%= @user.name %></h2>
      <h5><%= @user.focuses.pluck(:name).join(', ') %></h5>
      <h4 class="user-bio"><%= @user.bio %></h4>

      <ul class="user-meta">
        <% if @user.city.present? %>
          <li data-role="geo-contact">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <%= @user.city %>
          </li>
        <% end %>

        <% if @user.website.present? %>
          <li>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <%= link_to @user.website, "http://#{@user.website}" %>
          </li>
        <% end %>

        <li>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <%= mail_to @user.email, @user.email %>
        </li>
      </ul>
    </div>
  </header>

  <div class="row">
    <p>Add to lists</p>
    <%= simple_form_for(:list_membership, url: list_memberships_path) do |f| %>
      <%= f.hidden_field :profile_id, value: @user.id %>
      <%= f.input :influencer_list_id, as: :select, collection: @available_lists %>
      <%= f.submit "Add" %>
    <% end %>
  </div>

  <div class="row user-row user-total-follower-row">
    <dl class="user-total-follower-count col-sm-4">
      <dt>TOTAL FOLLOWERS:</dt>
      <dd><%= number_with_delimiter(@user.total_follower_count) %></dd>
    </dl>

    <% User::SOCIAL_PLATFORMS.each do |social| %>
      <%= render 'follower_counts', social: social %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-4 user-subsection">
      <h2>Interests</h2>
      <% @user.interests.each do |interest| %>
        <button type="button" class="btn btn-default btn-interests"><%= interest.name %></button>
      <% end %>
    </div>
    <div class="col-sm-4 user-subsection">
      <h2>Press</h2>
      <% @user.press.each do |press| %>
        <h5><%= press.name %></h5>
      <% end %>
    </div>
    <div class="col-sm-4 user-subsection">
      <h2>Clients</h2>
      <% @user.clients.each do |client| %>
        <h5><%= link_to client.name, client.url %></h5>
      <% end %>
    </div>
  </div>

  <% if @user.instagram_media %>
    <h6>Recent Instagram Posts</h6>
    <div class="row user-social-instagram">
      <% @user.instagram_media.first(9).each do |instagram_picture| %>
        <div class="col-sm-6 col-md-4">
          <%= link_to(image_tag(instagram_picture['images']['standard_resolution']['url'], class: 'platform-media'),instagram_picture['link']) %>
          <ul class="user-post-icons">
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-thumbs-up pink" aria-hidden="true"></span>
              <%= number_with_delimiter(instagram_picture['likes']['count'].round) %>
            </li>
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-comment pink" aria-hidden="true"></span>
              <%= number_with_delimiter(instagram_picture['comments']['count'].round) %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @user.vine_media %>
    <h6>Recent Vine Videos</h6>
    <div class="row">
      <% @user.vine_media.first(9).each do |vine| %>
        <div class="col-sm-6 col-md-4">
          <%= videojs_tag(vine.videoUrl, class: 'platform-video', thumbnail: vine.thumbnailUrl) %>
          <ul class="user-post-icons">
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-thumbs-up pink" aria-hidden="true"></span>
              <%= vine.likes['count'] %>
            </li>
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-refresh pink" aria-hidden="true"></span>
              <%= vine.reposts['count'] %>
            </li>
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-play-circle pink" aria-hidden="true"></span>
              <%= number_with_delimiter(vine.loops['count'].round) %>
            </li>
            <li class="user-post-icon">
              <span class="glyphicon glyphicon-comment pink" aria-hidden="true"></span>
              <%= number_with_delimiter(vine.comments['count'].round) %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
