<div class="user">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <%= image_tag(@user.picture.url, :size => '300', alt: 'Vine Logo') %>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-8">
        <h1><%= @user.name %></h1>
        <h2>TOTAL FOLLOWERS: <%= @user.total_social_count %></h2>
        <h3><%= @user.bio %></h3>
      </div>
    </div>

    <br>

    <!-- FIXME -->
    <div class="row">
      <% %w(vine twitter instagram facebook pinterest).each do |social| %>
        <%= render 'follower_counts', social: social %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h1>Interests</h1>
        <% @user.interests.each do |interest| %>
          <button type="button" class="btn btn-default btn-interests"><%= interest.name %></button>
        <% end %>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h1>Press</h1>
        <% @user.press.each do |press| %>
          <p><%= press.name %></p>
        <% end %>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h1>Clients</h1>
        <% @user.clients.each do |client| %>
          <p><%= link_to client.name, client.url %></p>
        <% end %>
      </div>
    </div>

    <br>

    <% if @user.instagram_media %>
      <% @user.instagram_media.each_slice(3) do |instagram_group| %>
        <div class="row">
          <% instagram_group.each do |instagram_picture| %>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <%= link_to(image_tag(instagram_picture['images']['standard_resolution']['url'], class: 'social-image'), instagram_picture['link']) %>
              <p class="text-center">Likes <%= instagram_picture['likes']['count'] %></p>
            </div>
          <% end %>
          <br>
        </div>
      <% end %>
    <% end %>

    <% if @user.vine_media %>
      <% @user.vine_media.each_slice(3) do |vine_group| %>
        <div class="row">
          <% vine_group.each do |vine| %>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <%= link_to videojs_tag(vine['videoUrl'], class: 'social-video'), vine['permalinkUrl'] %>
              <p class="text-center">Likes <%= vine['likes']['count'] %></p>
            </div>
          <% end %>
        </div>
        <br>
      <% end %>
    <% end %>

  </div>
</div>
