<div class="well">
  <div class="text-center">
    <%= link_to image_tag(user.picture.url(:medium), :size => '250', alt: 'Profile Pic'), profile_path(id: user.id) %>
  </div>

  <div class="row all-social-icons">
      <h1><%= link_to user.name, profile_path(id: user.id) %></h1>
      <p><%= user.focuses.map(&:name).join(', ') %></p>
      <br>
      <h2><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= user.city if user.city %></h2>
      <h2><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <% if user.website %><%= link_to user.website, "http://#{user.website}" %><% end %></h2>
      <h2><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= mail_to user.email, user.email %></h2>
  </div>
  <hr>
  <div class="row follower-count">
    <div class="text-center">
      <h3>TOTAL FOLLOWERS: <%= number_with_delimiter(user.total_follower_count) %></h3>
    </div>
  </div>

  <div class="row all-social-icons">
    <div class="text-center">
      <% User::SOCIAL_PLATFORMS.each do |platform| %>
        <% if user.send("#{platform}_follower_count") %>
          <div class="social-icons pull-left">
            <%= image_tag("#{platform}_logo.svg", size: '30', alt: "#{platform} Logo") %>
            <h4><%= truncated_count(user.send("#{platform}_follower_count")) %></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
