  <div>
    <div class="col-md-3">  
      <h1>Harness the Power of Influencer's to Tell Your Brands Story.</h1>

      <h3>Followers ranging from 25K-6MM+ across Instagram, Pinterest, Twitter, Facebook, Youtube, Snapchat and Vine.</h3>

      <p>Our network of storytellers have highly engaged followers across a variety of interests - Fashion, Comedy, Celebrity, Family, Art + Design, Food, and Travel.</p>
    </div>


    <div class="col-md-2">
        <%= image_tag("meagan_cignoli.jpg", :size => '173x159', :alt => "Meagan Cignoli") %>
        <%= image_tag("hazelst_vine.jpg", :size => '173x159', :alt => "Hazelst_vine") %>
        <%= image_tag("symply.jpeg", :size => '173x159', :alt => "Simply Sylvio") %>
    </div>
    <div class="col-md-2">    
        <%= image_tag("barkley_pom.jpg", :size => '173x159', :alt => "Barkley the Pom") %>
        <%= image_tag("katie_rodgers.jpg", :size => '173x159', :alt => "Katie Rodgers") %>
        <%= image_tag("ehbee.jpeg", :size => '173x159', :alt => "Ehbee Family") %>
    </div>
    <div class="col-md-2">    
        <%= image_tag("Sharon_Radisch.jpg", :size => '173x159', :alt => "Sharon Radisch") %>
        <%= image_tag("matt_c.jpg", :size => '173x159', :alt => "Matt C") %>
        <%= image_tag("erik_ballantine.jpg", :size => '173x159', :alt => "Erik Ballantine") %>
    </div>      
  </div>  

  <div class="col-md-10">
    <div>
      <h2>WE WORK WITH TOP SOCIAL MEDIA CREATORS TO BRING YOUR BRANDS STORY TO LIfe.</h2>
      <p>With our rich creative experience and strategic insights we help agencies and brands create en- gaging content and reach a mobile market, authentically and at scale.</p>
    </div>
  </div> 