<hr>
<div class="text-center">
  <h5>We are proud to work with amazing brands.</h5>
</div>
<div class="text-center">
  <%= image_tag("epix_logo.svg", :class => "client-logos", :alt => "epix_logo") %>
  <%= image_tag("samsung_logo.svg", :class => "client-logos", :alt => "samsung_logo") %>
  <%= image_tag("af_logo.svg", :class => "client-logos", :alt => "af_logo") %>
  <%= image_tag("kenneth_cole_logo.svg", :class => "client-logos", :alt => "kenneth_cole_logo") %>
  <%= image_tag("lowes_logo.svg", :class => "client-logos", :alt => "lowes_logo") %>
  <%= image_tag("tmobile_logo.svg", :class => "client-logos", :alt => "tmobile_logo") %>
  <%= image_tag("diet_coke.svg", :class => "client-logos", :alt => "diet_coke_logo") %>
  <%= image_tag("hbo_logo.svg", :class => "client-logos", :alt => "hbo_logo") %>
  <%= image_tag("coke_logo.svg", :class => "client-logos", :alt => "coke_logo") %>
  <%= image_tag("clinique_logo.svg", :class => "client-logos", :alt => "clinique_logo") %>
  <%= image_tag("nike_logo.svg", :class => "client-logos", :alt => "nike_logo") %>
  <%= image_tag("adidas_logo.svg", :class => "client-logos", :alt => "adidas_logo") %>
  <%= image_tag("virgin_logo.svg", :class => "client-logos", :alt => "virgin_logo") %>
  <%= image_tag("sunglass_hut_logo.svg", :class => "client-logos", :alt => "sunglass_hut_logo") %>
</div>
 <hr>