 <div class="col-md-12 col-md-offset-4">  
    <button type="button" class="btn btn-default"><%= link_to 'Contact Us', brands_agencies_path %></button>
  </div>
  
  <div class="col-md-offset-3">  
    <div class="col-md-1">  
      <%= image_tag("vine_logo.svg", :size => '30', :alt => "Vine Logo") %>
    </div>
    <div class="col-md-1">    
      <%= image_tag("twitter_logo.svg", :size => '30', :alt => "Twitter Logo") %>
    </div>
    <div class="col-md-1">    
      <%= image_tag("instagram_logo.svg", :size => '30', :alt => "Instagram Logo") %>
    </div>
    <div class="col-md-1">    
      <%= image_tag("facebook_logo.svg", :size => '30', :alt => "Facebook Logo") %>
    </div>
    <div class="col-md-1">    
      <%= image_tag("pinterest_logo.svg", :size => '30', :alt => "Pinterest Logo") %>
    </div>
    <div class="col-md-1">    
      <%= image_tag("snapchat_logo.svg", :size => '30', :alt => "Snapchat Logo") %>
    </div>
    <div class="col-md-1">    
      <%= image_tag("tumblr_logo.svg", :size => '30', :alt => "Tumblr Logo") %>
    </div>  
  </div>  


  <div class="row">
    <div class="col-md-2">
      <%= image_tag("pencil_icon.svg", :size => '130', :alt => "pencil icon") %>
      <h2>GOALS</h2>
      <p>Tying organic con- tent into your overall marketing and media strategy.</p>
    </div>  
    <div class="col-md-2">
      <%= image_tag("check_icon.svg", :size => '130', :alt => "check icon") %>
      <h2>FIT</h2>
      <p>Access our network of content creators. we work closely with brands to select influencer's that best fit the brand and the campaign.</p>
    </div>  
    <div class="col-md-2">
      <%= image_tag("shield_icon.svg", :size => '130', :alt => "shield icon") %>
      <h2>SAFETY</h2>
      <p>We work closely with brands and creators to ensure all content is brand friendly. Hand pick the influencer's you want to work with.</p>
    </div> 
    <div class="col-md-2">
      <%= image_tag("rocket_icon.svg", :size => '130', :alt => "rocket icon") %>
      <h2>LAUNCH</h2>
      <p>Expand your reach and target new audiences through authentic social content.</p>
    </div>  
  </div>