<div class="brands">
  <div class="row">
    <h1>The Visual Country platform is a network of top social media influencers and creative talent.</h1>
    <div class="platform-summary">
      <h5>We do the heavy lifting for brands and agencies when it comes to working with top notch social media and video talent.</h5>

      <h5>We bring your campaign from ideation, through production to launch by building a team of creators that match the campaign goals and brand objectives to create entertaining and engaging content for social media, digital, on-air, and out of home advertising.</h5>

      <h5>Having worked with over 150 major brands creating short video and photographic content for digital advertising, we also help advise on best practices when it comes to marketing on social and mobile.</h5>
    </div>
  </div>
  <div class="row">
    <div class="left-writeup">
      <div>
        <h3>Followers Ranging from 25K-6MM+ Across Instagram, Pinterest, Twitter, Facebook, Youtube, Snapchat and Vine.</h3>
      </div>
      <div>
        <h4>Our network of top talent have highly engaged followers across a variety of interests - Fashion, Comedy, Celebrity, Family,  Art + Design, Food, and Travel.</h4>
      </div>
    </div>
    <div class="container-right-images">
      <div class="right-images-row">
        <%= image_tag("meagan_cignoli.jpg", :class => "right-images", :alt => "Meagan Cignoli") %>
        <%= image_tag("hazelst_vine.jpg", :class => "right-images", :alt => "Hazelst_vine") %>
        <%= image_tag("symply.jpeg", :class => "right-images", :alt => "Simply Sylvio") %>
        <%= image_tag("barkley_pom.jpg", :class => "right-images", :alt => "Barkley the Pom") %>
        <%= image_tag("katie_rodgers.jpg", :class => "right-images", :alt => "Katie Rodgers") %>
        <%= image_tag("ehbee.jpeg", :class => "right-images", :alt => "Ehbee Family") %>
        <%= image_tag("Sharon_Radisch.jpg", :class => "right-images", :alt => "Sharon Radisch") %>
        <%= image_tag("matt_c.jpg", :class => "right-images", :alt => "Matt C") %>
        <%= image_tag("erik_ballantine.jpg", :class => "right-images", :alt => "Erik Ballantine") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="ending-summary">
      <h4>With our rich creative experience and strategic insights we help agencies and brands create engaging content and reach a mobile market, authentically and at scale.</h4>
    </div>
  </div>

</div>
