<div class="brands">
  <div class="row">
    <h1>Harness the Power of Influencer's to Tell Your Brands Story.</h1>
  </div>
  <div class="row">
    <div class="left-writeup">
      <div>
        <h3>Followers Ranging from 25K-6MM+ Across Instagram, Pinterest, Twitter, Facebook, Youtube, Snapchat and Vine.</h3>
      </div>
      <div>
        <h4>Our network of storytellers have highly engaged followers across a variety of interests - Fashion, Comedy, Celebrity, Family, Art + Design, Food, and Travel.</h4>
      </div>
    </div>
    <div class="container-right-images">
      <div class="right-images-row">
        <%= image_tag("meagan_cignoli.jpg", :class => "right-images", :alt => "Meagan Cignoli") %>
        <%= image_tag("hazelst_vine.jpg", :class => "right-images", :alt => "Hazelst_vine") %>
        <%= image_tag("symply.jpeg", :class => "right-images", :alt => "Simply Sylvio") %>
      </div>
      <div class="right-images-row">
        <%= image_tag("barkley_pom.jpg", :class => "right-images", :alt => "Barkley the Pom") %>
        <%= image_tag("katie_rodgers.jpg", :class => "right-images", :alt => "Katie Rodgers") %>
        <%= image_tag("ehbee.jpeg", :class => "right-images", :alt => "Ehbee Family") %>
      </div>
      <div class="right-images-row">
        <%= image_tag("Sharon_Radisch.jpg", :class => "right-images", :alt => "Sharon Radisch") %>
        <%= image_tag("matt_c.jpg", :class => "right-images", :alt => "Matt C") %>
        <%= image_tag("erik_ballantine.jpg", :class => "right-images", :alt => "Erik Ballantine") %>
      </div>

  </div>

  <div class="row">
    <h2>WE WORK WITH TOP SOCIAL MEDIA CREATORS TO BRING YOUR BRANDS STORY TO LIfe.</h2>
    <h4>With our rich creative experience and strategic insights we help agencies and brands create engaging content and reach a mobile market, authentically and at scale.</h4>
  </div>

</div>
