<div class="container brand-campaign-stages">  
  <div class="text-center">
    <%= link_to 'Contact Us', brands_agencies_path, :class => "btn btn-default btn-lg" %>
  </div>
  <div class="container-social-links text-center">  
    <%= image_tag("vine_logo.svg", :class => "social-logos", :alt => "Vine Logo") %>      
    <%= image_tag("twitter_logo.svg", :class => "social-logos", :alt => "Twitter Logo") %>     
    <%= image_tag("instagram_logo.svg", :class => "social-logos", :alt => "Instagram Logo") %>   
    <%= image_tag("facebook_logo.svg", :class => "social-logos", :alt => "Facebook Logo") %>  
    <%= image_tag("pinterest_logo.svg", :class => "social-logos", :alt => "Pinterest Logo") %>    
    <%= image_tag("snapchat_logo.svg", :class => "social-logos", :alt => "Snapchat Logo") %>
    <%= image_tag("tumblr_logo.svg", :class => "social-logos", :alt => "Tumblr Logo") %>
  </div>  

  <div class="row brand-campaign-stages text-center">
    <div class="col-md-3 col-md-offset-1">
      <%= image_tag("pencil_icon.svg", :class => "brand-stages-icons", :alt => "pencil icon") %>
      <h2>GOALS</h2>
      <h4>Tying organic con- tent into your overall marketing and media strategy.</h4>
    </div>  
    <div class="col-md-3">
      <%= image_tag("check_icon.svg", :class => "brand-stages-icons", :alt => "check icon") %>
      <h2>FIT</h2>
      <h4>Access our network of content creators. we work closely with brands to select influencer's that best fit the brand and the campaign.</h4>
    </div>  
    <div class="col-md-3">
      <%= image_tag("shield_icon.svg", :class => "brand-stages-icons", :alt => "shield icon") %>
      <h2>SAFETY</h2>
      <h4>We work closely with brands and creators to ensure all content is brand friendly. Hand pick the influencer's you want to work with.</h4>
    </div> 
    <div class="col-md-3">
      <%= image_tag("rocket_icon.svg", :class => "brand-stages-icons", :alt => "rocket icon") %>
      <h2>LAUNCH</h2>
      <h4>Expand your reach and target new audiences through authentic social content.</h4>
    </div>  
  </div>