  <hr>
  <p>We are proud to work with amazing brands.</p>

  <%= image_tag("epix_logo.svg", :size => '130', :alt => "epix_logo") %>
  <%= image_tag("samsung_logo.svg", :size => '130', :alt => "samsung_logo") %>
  <%= image_tag("af_logo.svg", :size => '130', :alt => "af_logo") %>
  <%= image_tag("kenneth_cole_logo.svg", :size => '130', :alt => "kenneth_cole_logo") %>
  <%= image_tag("lowes_logo.svg", :size => '130', :alt => "lowes_logo") %>
  <%= image_tag("tmobile_logo.svg", :size => '130', :alt => "tmobile_logo") %>
  <%= image_tag("diet_coke.svg", :size => '130', :alt => "diet_coke_logo") %>
  <%= image_tag("hbo_logo.svg", :size => '130', :alt => "hbo_logo") %>
  <%= image_tag("coke_logo.svg", :size => '130', :alt => "coke_logo") %>
  <%= image_tag("clinique_logo.svg", :size => '130', :alt => "clinique_logo") %>
  <%= image_tag("nike_logo.svg", :size => '130', :alt => "nike_logo") %>
  <%= image_tag("adidas_logo.svg", :size => '130', :alt => "adidas_logo") %>
  <%= image_tag("virgin_logo.svg", :size => '130', :alt => "virgin_logo") %>
  <%= image_tag("sunglass_hut_logo.svg", :size => '130', :alt => "sunglass_hut_logo") %>
 <hr>