<div class="brand-campaign-stages center-block">
 <div class="row">
    <div class="text-center">
      <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-default btn-lg"%>
    </div>
  </div>
  <div class="row">
    <div class="container-social-icons text-center">
      <%= link_to image_tag("vine_logo.svg", :class => "social-icons", :alt => "Vine Logo"), "http://www.vine.co/visualcountry" %>
      <%= link_to image_tag("twitter_logo.svg", :class => "social-icons", :alt => "Twitter Logo"), "https://www.twitter.com/visual_country" %>
      <%= link_to image_tag("instagram_logo.svg", :class => "social-icons", :alt => "Instagram Logo"), "https://instagram.com/visualcountry/" %>
      <%= link_to image_tag("facebook_logo.svg", :class => "social-icons", :alt => "Facebook Logo"), "https://www.facebook.com/visualcountry" %>
<!--         <%= link_to image_tag("pinterest_logo.svg", :class => "social-icons", :alt => "Pinterest Logo"), "http://www.vine.co/meagancignoli" %>
      <%= link_to image_tag("snapchat_logo.svg", :class => "social-icons", :alt => "Snapchat Logo"), "http://www.vine.co/meagancignoli" %>
      <%= link_to image_tag("tumblr_logo.svg", :class => "social-icons", :alt => "Tumblr Logo"), "http://www.vine.co/meagancignoli" %> -->
    </div>
  </div>
<div class="row">
    <div class="campaign-stages text-center">
      <div class="container-stages-icons">
        <%= image_tag("clipboard_icon.svg", :class => "stages-icons", :alt => "pencil icon") %>
        <h2>SIGN UP</h2>
        <h4>Connect your social accounts and set up your profile.</h4>
      </div>
      <div class="container-stages-icons">
        <%= image_tag("magnifying_glass_icon.svg", :class => "stages-icons", :alt => "check icon") %>
        <h2>GET FOUND</h2>
        <h4>We match Creators with Brands, making sure it’s a fit for both parties.</h4>
      </div>
      <div class="container-stages-icons">
        <%= image_tag("camera_icon.svg", :class => "stages-icons", :alt => "shield icon") %>
        <h2>CREATE</h2>
        <h4>You create content your fans will enjoy, that is authentic and fun. Only sign up for projects you want.</h4>
      </div>
      <div class="container-stages-icons">
        <%= image_tag("money_icon.svg", :class => "stages-icons", :alt => "rocket icon") %>
        <h2>GET PAID</h2>
        <h4>Getting paid is painless. We make sure you get paid and in a reasonable time.</h4>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>