<div class="brands-creators-marketing_page">
  <div class="container">
    <%= render "pages/brands_jumbotron" %>
    <%= render "pages/brand_campaign_stages" %>
    <%= render "pages/brands_list" %>
    <%= render "pages/work_samples" %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render "shared/contact_form" %>
      </div>
    </div>
  </div>
</div>
