<div class="container">  
  <%= render "brands_jumbotron" %>  
  <%= render "brand_campaign_stages" %>  
  <%= render "brands_list" %>  
  <%= render "work_samples" %>  
  <%= render "contact_form" %>  
</div>   

