<div class="container">  
  <h1>Harness the Power of Influencers to Tell Your Brands Story.</h1>

  <h3>Followers ranging from 25K-6MM+ across Instagram, Pinterest, Twitter, Facebook, Youtube, Snapchat and Vine.</h3>

  <p>Our network of storytellers have highly engaged followers across a variety of interests - Fashion, Comedy, Celebrity, Family, Art + Design, Food, and Travel.</p>

  <%= image_tag("meagan_cignoli.jpg", :size => '173x159', :alt => "Meagan Cignoli") %>
  <%= image_tag("hazelst_vine.jpg", :size => '173x159', :alt => "Hazelst_vine") %>
  <%= image_tag("symply.jpeg", :size => '173x159', :alt => "Simply Sylvio") %>
  <%= image_tag("barkley_pom.jpg", :size => '173x159', :alt => "Barkley the Pom") %>
  <%= image_tag("katie_rodgers.jpg", :size => '173x159', :alt => "Katie Rodgers") %>
  <%= image_tag("ehbee.jpeg", :size => '173x159', :alt => "Ehbee Family") %>
  <%= image_tag("Sharon_Radisch.jpg", :size => '173x159', :alt => "Sharon Radisch") %>
  <%= image_tag("matt_c.jpg", :size => '173x159', :alt => "Matt C") %>
  <%= image_tag("erik_ballantine.jpg", :size => '173x159', :alt => "Erik Ballantine") %>

  <h2>We WORK WITH TOP SOCIAL MeDIA CReATORS TO BRIng YOUR BRAnDS STORY TO LIfe.</h2>
  <p>With our rich creative experience and strategic insights we help agencies and brands create en- gaging content and reach a mobile market, authentically and at scale.</p>

   <button type="button" class="btn btn-default"><%= link_to 'Contact Us', brands_agencies_path %></button>

   <%= image_tag("vine_logo.svg", :size => '30', :alt => "Vine Logo") %>
  <%= image_tag("twitter_logo.svg", :size => '30', :alt => "Twitter Logo") %>
  <%= image_tag("instagram_logo.svg", :size => '30', :alt => "Instagram Logo") %>
  <%= image_tag("facebook_logo.svg", :size => '30', :alt => "Facebook Logo") %>
  <%= image_tag("pinterest_logo.svg", :size => '30', :alt => "Pinterest Logo") %>
  <%= image_tag("snapchat_logo.svg", :size => '30', :alt => "Snapchat Logo") %>
  <%= image_tag("tumblr_logo.svg", :size => '30', :alt => "Tumblr Logo") %>

  <%= image_tag("pencil_icon.svg", :size => '130', :alt => "pencil icon") %>
  <%= image_tag("check_icon.svg", :size => '130', :alt => "check icon") %>
  <%= image_tag("shield_icon.svg", :size => '130', :alt => "shield icon") %>
  <%= image_tag("rocket_icon.svg", :size => '130', :alt => "rocket icon") %>

  <h2>GOALS</h2>
  <p>Tying organic con- tent into your overall marketing and media strategy.</p>

  <h2>FIT</h2>
  <p>Access our network of content creators. we work closely with brands to select influencer's that best fit the brand and the campaign.</p>

  <h2>SAFETY</h2>
  <p>We work closely with brands and creators to ensure all content is brand friendly. Hand pick the influencer's you want to work with.</p>

  <h2>LAUNCH</h2>
  <p>Expand your reach and target new audiences through authentic social content.</p>

  <p>We are proud to work with amazing brands.</p>

  <%= image_tag("epix_logo.svg", :size => '130', :alt => "epix_logo") %>
  <%= image_tag("samsung_logo.svg", :size => '130', :alt => "samsung_logo") %>
  <%= image_tag("af_logo.svg", :size => '130', :alt => "af_logo") %>
  <%= image_tag("kenneth_cole_logo.svg", :size => '130', :alt => "kenneth_cole_logo") %>
  <%= image_tag("lowes_logo.svg", :size => '130', :alt => "lowes_logo") %>
  <%= image_tag("tmobile_logo.svg", :size => '130', :alt => "tmobile_logo") %>
  <%= image_tag("diet_coke.svg", :size => '130', :alt => "diet_coke_logo") %>
  <%= image_tag("hbo_logo.svg", :size => '130', :alt => "hbo_logo") %>
  <%= image_tag("coke_logo.svg", :size => '130', :alt => "coke_logo") %>
  <%= image_tag("clinique_logo.svg", :size => '130', :alt => "clinique_logo") %>
  <%= image_tag("nike_logo.svg", :size => '130', :alt => "nike_logo") %>
  <%= image_tag("adidas_logo.svg", :size => '130', :alt => "adidas_logo") %>
  <%= image_tag("virgin_logo.svg", :size => '130', :alt => "virgin_logo") %>
  <%= image_tag("sunglass_hut_logo.svg", :size => '130', :alt => "sunglass_hut_logo") %>


  <iframe src="//player.vimeo.com/video/110301412?title=0&amp;byline=0&amp;portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Name*</label>
      <input type="text" class="form-control" placeholder="Enter Name">  
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
     <div class="form-group">
      <label for="exampleInputEmail1">Phone Number*</label>
      <input type="text" class="form-control" placeholder="Enter Phone Number">  
    </div>
      <div class="form-group">
      <label for="exampleInputEmail1">Vine Account</label>
      <input type="text" class="form-control" placeholder="@vinehandle">  
    </div>
      <div class="form-group">
      <label for="exampleInputEmail1">Instagram Account</label>
      <input type="text" class="form-control" placeholder="@instagramhandle">  
    </div>
    <div>
      <label for="exampleInputEmail1">Tell us how we can help you. To serve your better tell us about yourself, your audience and your goals.</label>
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>