<%= render 'layouts/user_navigation' %>
  <div class="col-md-6 col-md-offset-4">  
    <h1>Social Profiles</h1>
    <h2>Connect your accounts</h2>
    <h6>11,000,000</h6>
    <p>Total Reach</p>

  <p>Connect at least 2 accounts.</p>
    <div class="well">
     <h2> 
       <%= image_tag("vine_logo.svg", :size => '30', :alt => "Vine Logo") %> Vine
       <button type="button" class="btn btn-primary btn-lg">Connect</button>
     </h2>
    </div>
    <div class="well">
     <h2> 
        <%= image_tag("twitter_logo.svg", :size => '30', :alt => "Vine Logo") %> Twitter
        <button type="button" class="btn btn-primary btn-lg">Connect</button>
     </h2>
    </div>
    <div class="well">
     <h2> 
       <%= image_tag("instagram_logo.svg", :size => '30', :alt => "Vine Logo") %>
       Instagram 
       <% if current_user.instagram_token? %>
       <p>followed by: <%= current_user.instagram_follower_count %></p>
        
       <%=link_to "Linked", instagram_link_destroy_path, method: :delete %>
       <% else %>
        <%= link_to 'Instagram', user_omniauth_authorize_path(:instagram), class: "btn btn-primary btn-lg" %>
       <% end %>
     </h2>
    </div>
    <div class="well">
     <h2> 
       <%= image_tag("tumblr_logo.svg", :size => '30', :alt => "Vine Logo") %> Tumblr
       <button type="button" class="btn btn-primary btn-lg">Connect</button>
     </h2>
    </div>
    <div class="well">
     <h2> 
       <%= image_tag("facebook_logo.svg", :size => '30', :alt => "Facebook Logo") %> Facebook
       <% if current_user.facebook_token? %>
        <p>followed by: <%= current_user.facebook_follower_count %></p>
       <% else %>
        <%= link_to 'Facebook', user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-lg" %>
       <% end %>
       <!--<button type="button" class="btn btn-primary btn-lg">Connect</button>-->
     </h2>
    </div>
    <div class="well">
     <h2> 
       <%= image_tag("pinterest_logo.svg", :size => '30', :alt => "Vine Logo") %> Pinterest
       <button type="button" class="btn btn-primary btn-lg">Connect</button>
     </h2>
    </div>
    <div class="well">
     <h2> 
       <%= image_tag("snapchat_logo.svg", :size => '30', :alt => "Vine Logo") %> Snapchat
       <button type="button" class="btn btn-primary btn-lg">Connect</button>
     </h2>
    </div>      


  </div>  



  <% if current_user %>
    You're currently signed in as <%= current_user.name %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <% link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %>
  <% end %>  









