<div class="container">  
  <%= render "influencer_jumbotron" %>  
  <%= render "influencer_campaign_stages" %>  
</div>  

  <%= render "brands_list" %>  
  <%= render "work_samples" %>  
<div class="container">    
  <%= render "contact_form" %>  
</div>  