<div class="container">  
  <%= render "influencer_jumbotron" %>  
  <%= render "influencer_campaign_stages" %>  
  <%= render "brands_list" %>  
  <%= render "work_samples" %>    
  <%= render "contact_form" %>  
</div>  