<div class="brands-creators-marketing_page">
  <div class="container">
    <%= render "pages/influencer_jumbotron" %>
    <%= render "pages/influencer_campaign_stages" %>
    <%= render "pages/brands_list" %>
    <%= render "pages/work_samples" %>
    <%= render "shared/contact_form" %>
  </div>
</div>

