<div class="container">
  <div class="welcome">
    <div class="row">
      <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <h1>
         CREATING &amp; DISTRIBUTING
         SHORT VIDEOS FOR THE
         WORLD’S LEADING BRANDS
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="center-block text-center">
        <%= image_tag("visualcountry_logo.png", :class => "welcome_logo", :alt => "Visual Country") %>
        <h4 class="tag-line">Welcome to Visual Country’s community of creative and social media talent.</h4>
      </div>
    </div>

    <div class="row">
      <div class="center-block text-center">
        <%= link_to 'Content Creators', content_creators_path, :class => "btn btn-welcome" %>
        <%= link_to 'Brands / Agencies', brands_agencies_path, :class => "btn btn-welcome" %>
      </div>
    </div>
  </div>
</div>

<div class="carousel">
  <div class="carousel__main owl-carousel">
      <% video = "http://v.cdn.vine.co/r/videos/0D5993BBA11133449481996713984_216bf81b742.5.1.2776422149822758089.mp4?versionId=yro3TuGLxtlGHKxoIgWbRc4oapSG5o.Y"%>
      <% thumb = "http://s3-us-west-2.amazonaws.com/staging-content.visualcountry.com/users/pictures/000/000/001/medium/amberleesquare.jpg?1427567938" %>
      <% 10.times do %>
      <div class="carousel__item">
<%= videojs_tag(video, class: 'platform-video', thumbnail: thumb) %>
      </div>

      <% end %>
  </div>
  <div class="carousel__navigation">
    <a class="btn carousel__navigation__prev">
      <span class="glyphicon glyphicon-chevron-left">
    </a>
    <a class="btn carousel__navigation__next">
      <span class="glyphicon glyphicon-chevron-right">
    </a>
  </div>
</div>

<div class="container">
  <div class="welcome">
    <div class="row">
      <div class="email">
        <h4>Contact us: <%= mail_to "info@visualcountry.com", "info[at]visualcountry.com"%></h4>
      </div>
    </div>
  </div>
</div>