<div class="container">
  <div class="sign-up-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-md-6 social-auth-buttons text-center">
          <h3>Welcome Back.</h3>
        </div>
        <div class="col-md-6 sign-up-form-fields">
          <h3 class="text-center">Sign In</h3>
          <div class="field">
            <%= f.email_field :email, autofocus: true, class: "flat-form-control", placeholder: 'Email' %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", class: "flat-form-control", placeholder: 'Password' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <div class="sign-in-social-auth">
            <div class="text-center sign-in-button">
              <%= f.submit "Log in", :class => "btn btn-default text" %>
            </div>
            <div>
              <%= link_to user_omniauth_authorize_path(:facebook), class: "social-auth-button social-auth-button-facebook sign-in-social-auth-buttons clearfix" do %>
                <%= embedded_svg "facebook_logo.svg" %>
                <%= 'Sign in with Facebook' %>
              <% end %>
            </div>
            <div>
              <%= link_to user_omniauth_authorize_path(:twitter), class: "social-auth-button social-auth-button-twitter sign-in-social-auth-buttons clearfix" do %>
                <%= embedded_svg "twitter_logo.svg" %>
                <%= 'Sign in with Twitter' %>
              <% end %>
            </div>
          </div>
          <div class="actions text-center">
            <br>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>