<div class="container">
  <div class="row">
    <p>Add all results to a list:</p>
    <%= simple_form_for(:bulk_list_membership, url: bulk_list_memberships_path ) do |f| %>
      <% @profiles.each do |profile| %>
        <%= f.hidden_field :user_ids, multiple: true, value: profile.id %>
      <% end %>
      <%= f.input :influencer_list, as: :select, collection: current_user.influencer_lists %>
      <%= f.submit "Add" %>
    <% end %>
  </div>
</div>

<div class="container search_results">
  <% @profiles.each_slice(3) do |profile_group| %>
    <div class="row">
      <% profile_group.each do |profile| %>
        <div class="col-lg-4 col-md-4 col-sm-4 user-<%= profile.id %>">
          <%= render 'shared/profile_card', user: profile %>
        </div>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
