.filter-form
  %h2.text-center Search
  %h3.text-center Looking for Someone?

  = simple_form_for :search, method: :get, url: profile_search_results_path, defaults: { required: false } do |f|

    .filter-form__item
      = f.input :query, input_html: { class: "flat-form-control", :autofocus => true }, label: false

    .filter-form__item
      %h5 Interest
      .row
        = f.input :interests, as: :check_boxes, item_wrapper_class: "checkbox-button col-xs-6 col-sm-6 col-md-3", label: false, collection: Interest.all

    .filter-form__item
      %h5 Followers
      .row
        .col-xs-6.col-sm-6.col-md-3
          = f.input :min_followers, input_html: { class: "flat-form-control" }
        .col-xs-6.col-sm-6.col-md-3
          = f.input :max_followers, input_html: { class: "flat-form-control" }

    .filter-form__item
      %h5 Social Platform
      .row
        = f.input :social_profiles, as: :check_boxes, item_wrapper_class: "checkbox-button col-xs-6 col-sm-6 col-md-3", label: false, collection: User::SOCIAL_PLATFORMS
    .filter-form__item
      %h5 Location
      = f.input :near, input_html: { class: "flat-form-control" }, label: false
    .filter-form__item
      %h5 Focus
      .row
        = f.input :focuses, as: :check_boxes, item_wrapper_class: "checkbox-button col-xs-6 col-sm-6 col-md-3", label: false, collection: Focus.all
    .filter-form__item
      %h5 Gender
      .row
        = f.input :gender, as: :check_boxes, item_wrapper_class: "checkbox-button col-xs-6 col-sm-6 col-md-3 gender", label: false, collection: User.genders.keys

    .filter-form__item
      .row
        .col-md-6
          .row
            .col-xs-6
              %h5 Minimum Age
              = f.input :min_age, input_html: { class: "flat-form-control" }, label: false
            .col-xs-6
              %h5 Maximum Age
              = f.input :max_age, input_html: { class: "flat-form-control" }, label: false
        .col-md-6
          %h5 Ethnicity
          .flat-select
            = f.input :ethnicity, item_wrapper_class: "col-xs-6 col-sm-6 col-md-3", label: false, collection: User.ethnicities.keys, input_html: {class: "flat-form-control"}
    .filter-form__item.text-center
      = f.submit class: "btn btn-default btn-lg search-button", value: "Search"
