.well.profile-card{ class: "user-#{profile.id}"}
  .text-center
    = link_to image_tag(profile.picture.url(:medium), :size => '250', alt: 'Profile Pic'), profile_path(id: profile.id)
  .all-social-icons
    %h1= link_to profile.name, profile_path(id: profile.id)
    %p= profile.focuses.map(&:name).join(', ')
    %br/
    %h2
      %span.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}
      = profile.city if profile.city
    %h2
      %span.glyphicon.glyphicon-link{"aria-hidden" => "true"}
      - if profile.website
        = link_to profile.website, "http://#{profile.website}"
    %h2
      %span.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
      = mail_to profile.email, profile.email
  %hr/
  .follower-count
    .text-center
      %h3
        TOTAL FOLLOWERS: #{number_with_delimiter(profile.total_follower_count)}
  .all-social-icons
    .text-center
      - %w(vine twitter instagram facebook pinterest).each do |platform|
        - if profile.send("#{platform}_follower_count")
          .social-icons.pull-left
            = image_tag("#{platform}_logo.svg", size: '30', alt: "#{platform} Logo")
            %h4= truncated_count(profile.send("#{platform}_follower_count"))
