<%= render 'layouts/user_navigation' %>
  <div class="col-md-6 col-md-offset-4">
    <h1>Social Profiles</h1>
    <h2>Connect your accounts</h2>
    <h1><%= current_user.total_social_count %></h1>
    <p>Total Reach</p>

  <p>Connect at least 2 accounts.</p>
    <div class="well">
     <h2>
      <%= image_tag("vine_logo.svg", :size => '30', :alt => "Vine Logo") %> Vine
       <% if current_user.vine_password? %>
       <p>followed by: <%= current_user.vine_follower_count %></p>
       <%=link_to image_tag("green_check_icon.svg", size: "30x30"), users_vine_path, method: :delete %>
       <% else %>
        <%= link_to 'Connect', new_users_vine_path, class: "btn btn-primary btn-lg" %>
       <% end %>

     </h2>
    </div>

    <div class="well">
     <h2>
      <%= image_tag("twitter_logo.svg", :size => '30', :alt => "Twitter Logo") %> Twitter
       <% if current_user.twitter_token? %>
       <p>followed by: <%= current_user.twitter_follower_count %></p>

       <%=link_to image_tag("green_check_icon.svg", size: "30x30"), users_twitter_path, method: :delete %>
       <% else %>
        <%= link_to 'Connect', user_omniauth_authorize_path(:twitter), class: "btn btn-primary btn-lg" %>
       <% end %>

     </h2>
    </div>

    <div class="well">
     <h2>
       <%= image_tag("instagram_logo.svg", :size => '30', :alt => "Vine Logo") %>
       Instagram
       <% if current_user.instagram_token? %>
       <p>followed by: <%= current_user.instagram_follower_count %></p>

       <%=link_to image_tag("green_check_icon.svg", size: "30x30"), users_instagram_path, method: :delete %>
       <% else %>
        <%= link_to 'Connect', user_omniauth_authorize_path(:instagram), class: "btn btn-primary btn-lg" %>
       <% end %>
     </h2>
    </div>

    <div class="well">
     <h2>
       <%= image_tag("facebook_logo.svg", :size => '30', :alt => "Facebook Logo") %> Facebook
       <% if current_user.facebook_token? %>
        <p>followed by: <%= current_user.facebook_follower_count %></p>
        <%=link_to image_tag("green_check_icon.svg", size: "30x30"), users_facebook_path, method: :delete %>
       <% else %>
        <%= link_to 'Connect', user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-lg" %>
       <% end %>
       <!--<button type="button" class="btn btn-primary btn-lg">Connect</button>-->
     </h2>
    </div>

    <div class="well">
     <h2>
        <%= image_tag("pinterest_logo.svg", :size => '30', :alt => "Pinterest Logo") %> Pinterest
       <% if current_user.pinterest_token? %>
       <p>followed by: <%= current_user.pinterest_follower_count %></p>

       <%=link_to image_tag("green_check_icon.svg", size: "30x30"), users_pinterest_path, method: :delete %>
       <% else %>
        <%= link_to 'Connect', user_omniauth_authorize_path(:pinterest), class: "btn btn-primary btn-lg" %>
       <% end %>
     </h2>
    </div>

  </div>
