<h2 class="page-header">Dashboard</h2>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="well">
      <h2>Message Inbox</h2>
      <h3><%= ContactMessage.all.count %></h3>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="well">
      <h2> Total VC Profiles </h2>
      <h3><%= Profile.all.count %></h3>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="well">
      <h2>Lists</h2>
      <% current_user.influencer_lists.each do |list| %>
        <%= link_to list.name, influencer_list_path(id: list.uuid) %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="well">
    <h4>Total Reach on VC:</h4>
    <%= number_with_delimiter(Profile.total_reach) %>
  </div>
</div>

<div class="sub-layout">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Influencer Name</th>
          <th>Followers</th>
        </tr>
      </thead>
      <tbody>
        <% @profiles.each do |user| %>
          <tr>
            <td><%= link_to user.name, profile_path(user) %></td>
            <td><%= user.total_follower_count %></td>
          </tr>
        <% end  %>
      </tbody>
    </table>
  </div>
  <%= paginate @profiles %>
</div>
