<%= render 'layouts/user_navigation' %>
<div class="interests">
  <header class="row">
    <div class="text-center">
      <h2>Interests</h2>
      <h3>What are your passions?</h3>
      <h5>Select as many as you like.</h5>
    </div>
  </header>
  <div class="row">
    <div class="col-xsm-10 col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 col-xsm-3">
      <%= simple_form_for current_user, url: profile_interests_path do |f| %>
        <%= f.association :interests, as: :check_boxes, item_wrapper_class: "checkbox-button col-sm-6 col-md-3", label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-xsm-10 col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 col-xsm-3">
        <div class="special-interests">
          <p>Tell us about any unique and awesome skills you might have.</p>
          <%= f.text_area :special_interests, class: "flat-form-control", placeholder: 'Special Interests' %>
        </div>

        <%= f.submit class: "btn btn-default interests-submit-button", value: "Update Interests" %>
      <% end %>
    </div>
  </div>
</div>
