<%= render 'layouts/user_navigation' %>
<div class="container">
  <header class="row text-center">
    <h1>Interests</h1>
    <h2>What are your passions?</h2>
    <p>Pick as many as you like.</p>
  </header>

  <%= simple_form_for current_user, url: profile_interests_path do |f| %>
    <div class="row">
      <%= f.association :interests, as: :check_boxes, item_wrapper_class: "checkbox-button col-sm-6 col-md-3", label: false %>
    </div>

    <div class="row">
      <%= f.input :special_interests %>
    </div>
    <%= f.submit class: "btn btn-default interests-submit-button", value: "Update Interests"  %>
  <% end %>
</div>
