<div class="container text-center footer">
  <hr>
  <div class="row footer-basic-centered">
    <p class="footer-links">
      <%= link_to "About", about_path %>
      <%= link_to "Team", team_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "FAQ", faq_path %>
      <%= link_to "Jobs", jobs_path %>
      <%= link_to "Terms of Service", terms_path %>
      <%= link_to "Privacy", privacy_path %>
   </p>
    <p class="footer-copyright">Copyright &copy; 2015 All Rights Reserved Visual Country LLC </p>
    <p class="footer-made-nyc">Made In NYC</p>
  </div>
</div>

