  
<nav class="navbar navbar-default" role="navigation">  
    <div class="container-fluid">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to(image_tag("visualcountry_logo.png", :class =>"navbar-brand", :alt => "logo", :title => "Home"), "/") %>  

       </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav nav-pills pull-right" role="tablist">   
             <% if user_signed_in? %>
              <li><%= link_to 'Content Creators', content_creators_path %></li>
              <li><%= link_to 'Brands / Agencies', brands_agencies_path %></li>
              <li><%= link_to(image_tag(current_user.picture.url, :class =>"navbar-profile", :alt => "Profile Pic", :title => "Profile"), profile_path(current_user)) %></li>
              <li><%= link_to current_user.name, profile_path(current_user)%></li>
              
              <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                  <li class="dropdown-toggle" data-toggle="dropdown"><%= image_tag("settings_icon.svg", :alt => "settings_icon", :class => "dropdown-toggle settings-icon", :data => {:toggle=>"dropdown"}) %>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to 'Settings', edit_user_registration_path, method: :get %></li>
                      <li><%= link_to 'Profile', profile_path(current_user), method: :get %></li> 
                      <li class="divider"></li>
                      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </li>
                </li>
              </ul>
             
             <% else %>  
              <li><%= link_to 'Content Creators', content_creators_path %></li>
              <li><%= link_to 'Brands / Agencies', brands_agencies_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
             <% end %> 
          </ul><!-- /nav nav-pills  -->

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>
