<ul class="nav nav-tabs container">
  <li class="active"><%= link_to 'Basic Info', edit_user_registration_path %></li>
  <li><%= link_to 'Social Profiles', profile_social_path %></li>
  <li><%= link_to 'Interests', profile_interests_path %></li>
  <li><%= link_to 'Press', profile_press_path %></li>
   <li><%= link_to 'Clients', profile_clients_path %></li>

</ul>
