<ul class="nav nav-tabs">
  <li class="<%= active_if_on(profile_social_path) %>"><%= link_to "Social Profiles", profile_social_path %></li>
  <li class="<%= active_if_on(edit_user_registration_path) %>"><%= link_to "Account", edit_user_registration_path %></li>
  <li class="<%= active_if_on(profile_basic_info_path) %>"><%= link_to "Basic Info", profile_basic_info_path %></li>
  <li class="<%= active_if_on(profile_interests_path) %>"><%= link_to "Interests", profile_interests_path %></li>
  <li class="<%= active_if_on(profile_press_path) %>"><%= link_to "Press", profile_press_path %></li>
  <li class="<%= active_if_on(profile_clients_path) %>"><%= link_to "Clients", profile_clients_path %></li>
</ul>
