!!!
%html
  %head
    %title VisualCountry
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    = render 'layouts/header'
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          = render "layouts/sidebar"
        - if content_for?(:sub_nav)
          .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.search-navbar-fixed-top{:role => "navigation"}
            = yield :sub_nav
          .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
            .main-layout.sublayout
              = render "shared/flash_messages"
              = yield
        - else
          .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
            .main-layout
              = render "shared/flash_messages"
              = yield

    = render 'layouts/footer'

    = render 'shared/google_analytics'
