!!!
%html
  %head
    %title VisualCountry
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body
    = render 'layouts/header'
    .container
      .search-navbar-fixed-top{:role => "navigation"}
        = render 'shared/flash_messages'
    - if content_for?(:sub_nav)
      .container
        = yield :sub_nav
    = yield
    = render 'layouts/footer'
