<%= render "layouts/user_navigation" %>
<div class="container social-profile">
  <div class="row text-center">
    <h2>Social Profiles</h2>
    <h3>Connect your accounts</h3>
    <% if current_user.total_follower_count.present? %>
      <dl class="total-reach">
        <dd class="total-reach-count"><%= number_with_delimiter(current_user.total_follower_count) %></dd>
        <dt>Total Reach</dt>
      </dl>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h5>Connect at least 2 accounts.</h5>

      <ul class="social-profiles">
        <li class="social-profile">
          <%= embedded_svg "vine_logo.svg" %>
          <h4 class="social-network">Vine</h4>
          <% if current_user.vine_token? %>
            <p class="social-follower-count">followed by: <%= number_with_delimiter(current_user.vine_follower_count) %></p>
            <%= link_to image_tag("green_check_icon.svg", size: "30x30"), profile_link_vine_path, method: :delete %>
          <% else %>
            <%= link_to "Connect", new_profile_link_vine_path, class: "btn btn-default btn-social" %>
          <% end %>
        </li>

        <li class="social-profile">
          <%= embedded_svg "twitter_logo.svg" %>
          <h4 class="social-network">Twitter</h4>
          <% if current_user.twitter_token? %>
            <p class="social-follower-count">followed by: <%= number_with_delimiter(current_user.twitter_follower_count) %></p>
            <%= link_to image_tag("green_check_icon.svg", size: "30x30"), profile_link_twitter_path, method: :delete %>
          <% else %>
            <%= link_to "Connect", user_omniauth_authorize_path(:twitter), class: "btn btn-default btn-social" %>
          <% end %>
        </li>

        <li class="social-profile">
          <%= embedded_svg "instagram_logo.svg" %>
          <h4 class="social-network">Instagram</h4>
          <% if current_user.instagram_token? %>
            <p class="social-follower-count">followed by: <%= number_with_delimiter(current_user.instagram_follower_count) %></p>
            <%= link_to image_tag("green_check_icon.svg", size: "30x30"), profile_link_instagram_path, method: :delete %>
          <% else %>
            <%= link_to "Connect", user_omniauth_authorize_path(:instagram), class: "btn btn-default btn-social" %>
          <% end %>
        </li>

        <li class="social-profile">
          <%= embedded_svg "facebook_logo.svg" %>
          <h4 class="social-network">Facebook</h4>
          <% if current_user.facebook_token? %>
            <p class="social-follower-count">followed by: <%= number_with_delimiter(current_user.facebook_follower_count) %></p>
            <%= link_to image_tag("green_check_icon.svg", size: "30x30"), profile_link_facebook_path, method: :delete %>
          <% else %>
            <%= link_to "Connect", user_omniauth_authorize_path(:facebook), class: "btn btn-default btn-social" %>
          <% end %>
        </li>

        <li class="social-profile">
          <%= embedded_svg "pinterest_logo.svg" %>
          <h4 class="social-network">Pinterest</h4>
          <% if current_user.pinterest_token? %>
            <p class="social-follower-count">followed by: <%= number_with_delimiter(current_user.pinterest_follower_count) %></p>
            <%= link_to image_tag("green_check_icon.svg", size: "30x30"), profile_link_pinterest_path, method: :delete %>
          <% else %>
            <%= link_to "Connect", user_omniauth_authorize_path(:pinterest), class: "btn btn-default btn-social" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <%= link_to "Continue", edit_user_registration_path, class: "btn btn-default" %>
</div>
